 {{!-- <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <img style="width: 50px;height:50px;" src="/product-image/logo.webp"  alt="">
      <a class="navbar-brand" href="#">Play Kid</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/allUsers">All users</a>
        </li>
        <li class="nav-item">
          <a href="/admin/viewproducts"  class="nav-link">All products</a>
        </li>

        <li class="nav-item">
          <a href="/admin/viewbanner"  class="nav-link">Banner</a>
        </li>

        <li class="nav-item">
          <a href="/admin/viewbrand"  class="nav-link">Brand</a>
        </li>
        

         <li class="nav-item">
          <a href="/admin/view-category"  class="nav-link">Categories</a>
        </li>

        <li class="nav-item">
          <a class="nav-link">All Orders</a>
        </li>
       </ul>
      

      {{!-- <form class="d-flex" role="search">
        <input class="form-control " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      <a href="/logout" class="btn pr-5" style="display: inline-block; width:200px; height:40px; text-align: center; line-height: 40px;">
    Logout --}}
      </a>

      </form>
      
    </div>
  </div>
</nav>
    </header> --}}



    <head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets2/img/favicon.png" rel="icon">
  <link href="/assets2/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets2/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets2/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets2/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets2/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets2/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets2/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets2/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<header>
      <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="/assets2/img/logo.png" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar ">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>
        <li>
          <a href="/admin/returnProducts">
              <i class="fa-solid fa-bell" style="color: black;"></i>
              <span class="badge badge-primary rounded-circle"  >{{count}}</span>
           </a> 
            </li>
        <li>
              <a class="dropdown-item d-flex align-items-center mr-5 ml-4" href="/admin/logout">
                {{!-- <i class="bi bi-box-arrow-right"></i> --}}
                <span style="font-weight: bold;margin-right: 10px;">Log Out</span>
              </a>
            </li>
            
            </ul>
    </nav><!-- End Icons Navigation -->

  </header>
</header>

  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="/admin/allusers">
          <i class="bi bi-grid"></i>
          <span>User Management</span>
        </a>
      </li><!-- End Dashboard Nav -->


      <li class="nav-item">
        <a class="nav-link " href="/admin/viewproducts">
          <i class="bi bi-grid"></i>
          <span>Product Management</span>
        </a>
      </li><!-- End Dashboard Nav -->

        <li class="nav-item">
        <a class="nav-link " href="/admin/viewbrand">
          <i class="bi bi-grid"></i>
          <span>Brand Management</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="/admin/view-category">
          <i class="bi bi-grid"></i>
          <span>Category Management</span>
        </a>
      </li><!-- End Dashboard Nav -->
      
       <li class="nav-item">
        <a class="nav-link " href="/admin/orders">
          <i class="bi bi-grid"></i>
          <span>Orders</span>
        </a>
      </li><!-- End Dashboard Nav -->
      
        
       <li class="nav-item">
        <a class="nav-link " href="/admin/coupons">
          <i class="bi bi-grid"></i>
          <span>Coupon Manegement</span>
        </a>
      </li><!-- End Dashboard Nav -->
      
        
       <li class="nav-item">
        <a class="nav-link " href="/admin/salesReport">
          <i class="bi bi-grid"></i>
          <span>Sales Report</span>
        </a>
      </li><!-- End Dashboard Nav -->
      

      

  </aside><!-- End Sidebar-->
    <script src="/assets2/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets2/vendor/chart.js/chart.min.js"></script>
  <script src="/assets2/vendor/echarts/echarts.min.js"></script>
  <script src="/assets2/vendor/quill/quill.min.js"></script>
  <script src="/assets2/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets2/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets2/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets2/js/main.js"></script>