 <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <img style="width: 50px;height:50px;" src="/images/logo/stylized-lowercase-letters-p-k-linked-single-line-logo-monogram-monogram-stylized-lowercase-letters-p-k-199206376.webp" alt="">
      <a class="navbar-brand" href="#">Play Kid</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/allUsers">All users</a>
        </li>
        <li class="nav-item">
          <a href="/admin/viewproducts"  class="nav-link">All products</a>
        </li>

        <li class="nav-item">
          <a href="/admin/viewbanner"  class="nav-link">Banner</a>
        </li>

        <li class="nav-item">
          <a href="/admin/viewbrand"  class="nav-link">Brand</a>
        </li>
        

         <li class="nav-item">
          <a href="/admin/view-category"  class="nav-link">Categories</a>
        </li>

        <li class="nav-item">
          <a class="nav-link">All Orders</a>
        </li>
       </ul>
      

      {{!-- <form class="d-flex" role="search">
        <input class="form-control " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      <a href="/logout" class="btn pr-5" style="display: inline-block; width:200px; height:40px; text-align: center; line-height: 40px;">
    Logout --}}
      </a>

      </form>
      
    </div>
  </div>
</nav>
    </header>