<section class="vh-100 gradient-custom" style="overflow-y:hidden;">
  <div class="container  h-90  mt-5"   >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card  text-white " style="border-radius: 1rem; height: 700px;background: linear-gradient(to bottom right, #ece5ea 30%, #66ffff 100%);;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5 ">
              <form action="/signup" method="post" id="gform" onsubmit="return check()"  >
              <h2 class="fw-bold mb-2 text-uppercase">Sign up</h2>
               {{#if error}}
            <p style="color: red;">{{ error }}</p>
                {{/if}}
              <div class="form-outline form-white mb-4 mt-5">
                <input type="text"  class="form-control form-control-lg"  id="Name" onkeyup="validateName()" placeholder="username" name="name" />
                <span id="name" class="text-danger"></span>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="email"  class="form-control form-control-lg"  name="email"  id="Email"  onkeyup="validEmail()" placeholder="email"/>
               <span id="email" class="text-danger"></span>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="tel"  class="form-control form-control-lg"  name="number"  id="phonenumber"  onkeyup="validPhoneumber()"  placeholder="number"/>
                <span id="phonenumbers" class="text-danger"></span>
              </div>
              <div class="form-outline form-white mb-4 " >
                <input type="password"  class="form-control form-control-lg"  name="password" id="password" onkeyup="validPassowrd()" placeholder="password" />
               <span id="passwords" class="text-danger"></span>
              
                </div>
                <div class=" otp  pl-5" style="margin-left: 60%; float: right;">
                 
                </div>
               
                <div class="mb-3">
                <label for="referralCode" class="form-label">Referral Code (Optional)</label>
                <input type="text" id="referralCode" name="referralCode" class="form-control">
            </div>
               
                     <button  class="btn btn-primary" type="submit"  >Submit</button>
                 
                 <p class="mb-0  mt-3 ">Already have an account? <a href="/login" class="text-white-50 fw-bold">Sign In</a>
              </p>
            
              

              {{!-- <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
              </div> --}}
              
              </form>
                
              
            </div>
            </div>

           

          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script>
    var errorName = document.getElementById('name')
    var errorEmail = document.getElementById('email')
    var errorPassword = document.getElementById('passwords')
    
	var errorPhonenumber = document.getElementById('phonenumbers')
    function validateName() {
      
        const name = document.getElementById('Name').value;
        if (name == "") {
            errorName.innerHTML = 'Enter your Name'
            return false
        }
        if (!name.match(/^[a-zA-Z ]*$/)) {
            errorName.innerHTML = 'Number are not allowed'
            return false
        }
         if (name.match(/^[ ]*$/)) {
            errorName.innerHTML = 'enter a valid name'
            return false
        }
        errorName.innerHTML = null
        return true
    }
    function validEmail() {
      
        const email = document.getElementById('Email').value
        if (email == "") {
            errorEmail.innerHTML = "enter you email address"
            return false
        }
        if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
            errorEmail.innerHTML = 'enter a proper email address'
            return false
        }
        errorEmail.innerHTML = null
        return true
    }
    function validPassowrd() {
      
        const psd = document.getElementById('password').value
        if (psd == "") {
            errorPassword.innerHTML = "enter a password"
            return false
        }
        if (psd.length < 5) {
			
            errorPassword.innerHTML = "password should be more than five characters"
            return false
        }
        errorPassword.innerHTML = null
        return true
    }

    

	 function validPhoneumber() {
    
        const mob = document.getElementById('phonenumber').value
        if (mob == "") {
            errorPhonenumber.innerHTML = "enter a phonenumber"
            return false
        }
        if (mob.length < 10 || !mob.match(/^\d*$/)) {
            errorPhonenumber.innerHTML = "Please Enter the valide phone number"
            return false
        }
        errorPhonenumber.innerHTML = null
        return true
    }

        function check(){
           
              let validatearray =[!validateName() , !validEmail() , !validPassowrd() , !validPhoneumber() ]

              return validatearray.every(validation)
              

        }

  

    function validation() {
      
        if (!validateName() || !validEmail() || !validPassowrd() || !validPhoneumber() ) {
            return false
        }
        return true
    }
</script>
